<div class="home-callout text-center container-fluid">
  <h3 class="text-center">Create your very own event and add it to the calendar - right now!</h3>
</div>
<br>
<br>
  <div class="container text-center">
    
    
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="well">
        <%= form_for(event) do |f| %>
        <% if event.errors.any? %>
        <div id="error_explanation">
        <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>
        <ul>
        <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
        </ul>
        </div>
        
        <% end %>
        
        <div class="field form-group text-left">
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control' %>
        </div>
        
        <div class="field form-group text-left">
        <%= f.label :description %>
        <%= f.text_area :description, class: 'form-control' %>
        </div>
        
        <div class="field form-group">
        <%= f.label :start_time %>
        <%= f.datetime_select :start_time, class: 'form-control' %>
        </div>
        
        <div class="field form-group">
        <%= f.label :end_time %>
        <%= f.datetime_select :end_time, class: 'form-control' %>
        </div>
        
        <div class="actions form-group text-center ">
        <%= f.submit "Create Event", class: 'btn btn-success'%>
        
        <%= link_to "Cancel Event",  events_path, class: 'btn btn-danger'%>
        </div>
        <% end %>
        
        
        
        </div>
      </div>
    </div>
  </div>