
<br>
<br>
  <div class="container text-center">
    
    
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="well">
        <%= form_for(event) do |f| %>
        <% if event.errors.any? %>
        <div id="error_explanation">
        <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>
        <ul>
        <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
        </ul>
        </div>
        
        <% end %>
        
        <div class="field form-group text-left">
          <%= f.label :title %><b>:</b>
           <%= @event.title %>
        </div>
        
        <div class="field form-group text-left">
        <%= f.label :description %><b>:</b>
          <%= @event.description %>
        </div>
        
        <div class="field form-group text-left">
        <%= f.label :start_time  %><b>:</b>
         <%= @event.start_time %>
        </div>
        
        <div class="field form-group text-left">
        <%= f.label :end_time %><b>:</b>
        <%= @event.end_time %>
        </div>
        
        <div class="actions form-group text-center ">
        <%= link_to "Edit Event",  edit_event_path(@event), class: 'btn btn-default'%>
        
        <%= link_to "Back",  events_path, class: 'btn btn-default'%>
        </div>
        <% end %>
        
        
        
        </div>
      </div>
    </div>
  </div>